@media {
  .css-gyrt72-MuiContainer-root {
    padding-left: 0;
    padding-right: 0;
  }
}

.css-gyrt72-MuiContainer-root {
  padding-left: 0;
  padding-right: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}